# Variables de entorno
.env
*.env.local

# Claves SSH y certificados
*.pem
*.key
*.crt

# Logs y datos de contenedores
*.log
data/
**/node_modules/

# Editor y sistema
.DS_Store
.vscode/
__pycache__/
*.swp



# Ignorar bases de datos persistentes de las apps
apps/wordpress-app/mysql/
apps/wordpress-app/wp-content/uploads/

# Ignorar archivos de configuración de WP con contraseñas
apps/wordpress-app/wp-config.php
